html {
 font-size: 62.5%;
   /*10px browser default  */
}
/* ### Headings###*/
h1,
h2,
h3,
h4,
h5,
h6 {

  /*font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;*/
  font-family: 'Open Sans','Helvetica Neue', sans-serif;
  font-size: 1.875rem;
  font-weight: normal;

}

body p {
  font-family: 'Merriweather', serif;
  font-size: 1.6rem;
}

body{
  text-align: center;
  margin: 0;
  font-size: 1.6rem;
}

body, html {
    height: 100%;
    width: 100%;
}
